body {
  -ms-touch-action:none;
  position: relative;
  width: 100%;
  padding: 0;
}

.slider {
  top: 0;
  position: absolute;
  height: 300px;
}
.zone {
  position: relative;
  display: inline-block;
  width: 49%;
  height:300px;
}
#jLeft {
  background: rgba(0,0,255, 0.1);
}
#jRight {
  background: rgba(255,0,0, 0.1);
}