body {
  -ms-touch-action:none;
  position: relative;
  width: 100%;
  padding: 0;
}

.slider {
  top: 0;
  position: absolute;
  height: 300px;
}
.zone {
  position: relative;
  display: inline-block;
  width: 33%;
  height:300px;
}